@model List<Tournament>
<div>
    <div class="row">
        <div class="col-sm">
            <h1>Tournaments</h1>
        </div>
        <div class="col-sm" style="text-align: right;">
            <a class="btn btn-primary mt-3" asp-controller="Tournament" asp-action="Create">New Tournament</a>
        </div>
    </div>
    <table class="table mt-5">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Venue</th>
            <th colspan="3"></th>
        </tr>
        @foreach (var tournament in Model)
        {
            <tr>
                <td>@tournament.Id</td>
                <td>@tournament.Name</td>
                <td>@tournament.StartDate</td>
                <td>@tournament.EndDate</td>
                <td>@tournament.Venue</td>
                <td><a href="">Display</a></td>
                <td><a href="">Edit</a></td>
                <td><a href="">Delete</a></td>
            </tr>
        }
    </table>
</div>